body {
    padding: 0;
    margin: 0;
}

.father {
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template-columns: 1fr min-content 2fr;
}

.child {
    background-color: tomato;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}
