@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 62vw 3vw 35vw;
  grid-template-areas: ".orange .border-line .red";
}

.orange {
  background-color: #ff6800;
  color: red;
  padding: 5px;
}

.list {
  margin: 0;
  background-color: red;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  /* grid-gap: 1px 1px;
  padding: 1px; */
  border-top: 2px solid red;

  gap: 0px;
}

.elem {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 2fr 25fr 10fr;
  /* gap: 1px; */
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-bottom: 2px solid red;
}

.elem div {
  background-color: #ff6800;
}

.category {
  grid-row: span 2;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid red;
  /* border-right: 2px solid red; */
}

.name {
  display: grid;
  grid-row: span 2;
  place-items: center start;
  border-right: 2px solid red;
}

h1 {
  padding-left: 5px;
  font-size: 3em;
  margin: 0;
  place-self: center start;
}

.contents {
  padding: 5px 20px;
  font-size: 0.8em;
  line-height: 100%;
  /* border-top: 2px solid red; */
  border-bottom: 2px solid red;
}

.contents,
.expiration-date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expiration-date .time {
  margin: 10px;
  padding: 5px 20px;
  background-color: red;
  color: #ff6800;
  border-radius: 20px;
}

.elem:nth-child(1) {
  border-bottom: 2px solid white;
}

#highlight {
  color: white;
  border-color: white;
}

#highlight .category {
  border-left: 2px solid white;
}

#highlight .name {
  border-right: 2px solid white;
}

#highlight .contents {
  border-bottom: 2px solid white;
}

#highlight .time {
  background-color: white;
}

.border-line {
  display: grid;
  grid-template-rows: 3vw;
  grid-template-columns: repeat(2, 1fr);
  writing-mode: vertical-lr;
  position: relative;
}

.border-line span {
  display: flex;
  place-self: center;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}

.pink-bar {
  display: flex;
  background-color: magenta;
}
#pizza {
  position: absolute;
  place-self: center center;
  top: 50%;
  transform: translateY(-1.5vw);
  z-index: 2;
  font-size: 3vw;
}

.blue-bar {
  display: flex;
  transform: rotate(-180deg);
  justify-content: flex-start;
  background-color: #160bff;
}

.red {
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-weight: 500;
}

nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 5px;
}

article {
  border-top: 1px solid black;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  line-height: 90%;
  white-space: normal;
}
