.Editor {
    display: flex;
    gap: 10px
}

.Editor > input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.Editor > button {
    color: white;
    background-color: rgb(37 147 255);;
    cursor: pointer;
    width: 80px;
    border: none;
    border-radius: 5px;
}